<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Contact Form</title>
  <link rel="stylesheet" href="../public/css/styles.css" />
  <link rel="stylesheet" href="../public/css/navbar.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <!-- Everything after the body should be contained in <main-content> -->
    <main-content>
    <my-navbar>Example</my-navbar>
    <!-- Use divs to seperate content as needed -->
    <div>
        <p>Here is an example page that can be used to demonstrate the functionality of the website.</p>
        <p>This page is designed to show how the navbar and other components work together.</p>
        <p>Feel free to explore the links in the navbar to navigate through the site.</p>
        <!-- Container class for the moment is good for seperating text content from interactive content -->
        <div class="container">
            <p>Here is an example image of how we can show the different forms like on Ulster Uni</p>
            <a href="example-wellbeing.html">
                <img src="../assets/campus-calm-logo.png" alt="Example Image" class="shadow-hover-img">
            </a>
        </div>
    </div>
    <my-sidenav></my-sidenav>

    </main-content>
<my-footer></my-footer>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/scripts.js"></script>
<script src="../public/js/sidenav.js"></script>
<script src="../public/js/navbar.js"></script>
<script src="../public/js/theme-toggle.js"></script>
<script src="../public/js/main-content.js"></script>
<script src="../public/js/footer.js"></script>
</html>