<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Contact Form</title>
	<link rel="stylesheet" href="../public/css/styles.css" />
	<link rel="stylesheet" href="../public/css/navbar.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
	<my-navbar></my-navbar>
	<div>
		<h1>Mental Health</h1>
		<div class="support-container">
			<a href="MentalHealth.html" class="card-link">
				<div class="support-card">
					<img src="/../public/img/mentalHealthMain.png" alt="Mental Health" class="card-image">
					<div class="card-text">
						<h3>Mental health</h3>
						<p>Our mental health page will explain the range of common mental health issues and
							let you know how to access help and support for yourself or others.</p>
						<span class="view-link">View Mental Health →</span>
					</div>
				</div>
			</a>

			<a href="relaxation.html" class="card-link">
				<div class="support-card">
					<img src="/../public/img/breathing.png" alt="Guided Breathing" class="card-image">
					<div class="card-text">
						<h3>Guided Breathing</h3>
						<p>Our guided breathing page offers a simple, calming exercise to help ease stress and anxiety.
							Follow the visual prompts to slow your breath, relax your body, and restore a sense of balance
							and focus.</p>
						<span class="view-link">View Guided Breathing →</span>
					</div>
				</div>
			</a>
		</div>
	</div>
	<main-content id="card-output">

	</main-content>
	<div class="support-container">
		<a href="PhysicalHealthIssues.html" class="card-link">
			<div class="support-card">
				<img src="/../public/img/physicalHealthIssuesMain.png" alt="Physical Health Issues" class="card-image">
				<div class="card-text">
					<h3>Physical Health Issues</h3>
					<p>Our Physical Health page looks at how taking care of your body supports your overall wellbeing — from
						movement and sleep to nutrition and understanding substance use. You’ll find practical tips,
						straightforward advice, and information on how to access health services that can help you feel your
						best, both physically and mentally.</p>
					<span class="view-link">View Physical Health →</span>
				</div>
			</div>
		</a>
	</div>
	<h1> Wellbeing Events</h1>
	<div class="support-container">
		<a href="WellbeingEvents.html" class="card-link">
			<div class="support-card">
				<img src="/../public/img/events.png" alt="Wellbeing Events" class="card-image">
				<div class="card-text">
					<h3>Wellbeing Events</h3>
					<p>Our Events page explores how engaging in supportive activities can enhance your
						mental and emotional health — from stress management and academic support to mindfulness
						and relaxation. You’ll discover practical strategies, expert guidance, and opportunities to
						connect with others through workshops, drop-ins, and guided sessions. These events are
						designed to help you manage stress, improve focus, and feel more balanced in everyday life.
					</p>
					<span class="view-link">View Wellbeing Events →</span>
				</div>
			</div>
		</a>
	</div>

	<my-footer></my-footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/navbar.js"></script>
<script src="../public/js/theme-toggle.js"></script>
<script src="../public/js/main-content.js"></script>
<script src="../public/js/footer.js"></script>
<script src="../public/js/display-cards.js"></script>
</html>
