<nav class="navbar">


  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="../assets/campus-calm-logo.png" alt="Campus Calm Logo">
      Campus Calm
    </div>

    <button id="menu-btn" class="menu-btn" onclick="openMenu()" aria-label="Toggle menu">
      <svg class="menu-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" viewBox="0 0 24 24">
      </svg>
      &#9776;
    </button>

    <div id="menu" class="menu-desktop">
      <ul class="menu-list">
        <li><a href="index.html" class="menu-link">Home</a></li>
        <li><a href="mentalHealth.html" class="menu-link">Mental Health</a></li>
        <li><a href="physicalHealthIssues.html" class="menu-link">Physical Health</a></li>
        <li><a href="AdditionalNeeds.html" class="menu-link">Additional Needs</a></li>
        <li><a href="wellbeingEvents.html" class="menu-link">Wellbeing Events</a></li>
        <li><a href="contact.html" class="menu-link">Contact</a></li>
      </ul>
      <button id="themeToggle" class="dark-toggle">
        <span class="dark-icon material-symbols-outlined">dark_mode</span>
        <span class="light-icon material-symbols-outlined" style="display: none">light_mode</span>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="menu-mobile">
    <a href="/#home" class="mobile-menu-link">Home</a>
    <a href="mentalHealth.html" class="mobile-menu-link">Mental Health</a>
    <a href="physicalHealth.html" class="mobile-menu-link">Physical Health</a>
    <li><a href="AdditionalNeeds.html" class="menu-link">Additional Needs</a></li>
    <a href="wellbeingEvents.html" class="mobile-menu-link">Wellbeing Events</a>
    <a href="contact.html" class="menu-link">Contact</a>

    <button onclick="toggleDarkMode()" class="dark-toggle">
      <span class="dark-icon material-symbols-outlined">dark_mode</span>
      <span class="light-icon material-symbols-outlined" style="display: none">light_mode</span>
    </button>
  </div>
</nav>

<script th:src="../public/js/theme-toggle.js"></script>


<script>
  function openMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    mobileMenu.classList.toggle("visible");
  }

  // Close menu when a mobile link is clicked
  document.querySelectorAll('.mobile-menu-link').forEach(link => {
    link.addEventListener('click', () => {
      document.getElementById("mobile-menu").classList.remove("visible");
    });
  });
</script>