/* Colour theme */
/* default Light theme */
:root {
  --bg: #EEF6FF;
  --text: #000;
  --container: #fff;
  --border: #030712;
}
/* Dark theme */
[data-theme="dark"] {
  --bg: #030712;
  --text: #fff;
  --container: #030712;
  --border: #EEF6FF;
}

/* --- Banner styles --- */
.banner {
  background-color: lightgray;
  color: white;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1000px;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

main {
  flex: 1;
}

.logo {
  margin: 0;
}

/* Sidenav styles */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1 1;
  z-index: 999;
}

/* Always hidden unless .open is added to .sidenav */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: var(--container);
  color: var(--text);
  padding: 1rem;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  font-size: 18px;
  border: var(--border) 2px solid;
  z-index: 1000;
}

.sidenav.open {
  transform: translateX(0);
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
}

.sidenav ul li {
  margin: 1rem 0;
}

.sidenav ul li a {
  color: var(--text);
  text-decoration: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.site-footer {
  background-color: var(--container);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text);
  border-top: 1px solid var(--border);
}

.back-to-top {
  margin-top: 0.5rem;
  background-color: var(--border);
  color: var(--container);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.back-to-top:hover {
  background-color: var(--text);
}

.shadow-hover-img {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* for rounded corners */
}

.shadow-hover-img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

